<p *ngIf = "!(authService.getUser()| async)">You are not logged in</p>
<p></p>
<div>
  <button mat-raised-button 
  color = "primary" 
  (click) = "addBookFormOpen = !addBookFormOpen">
  Add Book
</button>
</div>
<p></p>
<div>
  <bookform *ngIf = "addBookFormOpen"
  (update) = "addBook($event)" 
  (closeEdit) = "addBookFormOpen = false"
  [formType] = "'Add Book'">
</bookform>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books;let i = index">
      <mat-expansion-panel-header> 
        <mat-panel-title>
            {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
            <button class = "deletebutton" mat-raised-button color = "primary" (click) = "deleteBook(book.id)">
              Delete
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-raised-button 
              color = "primary" 
              (click) = "editstate[i] = !editstate[i]">
        Edit
      </button>
      <bookform
      [hidden] = "!editstate[i]"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      [formType] = "'Update Book'"
      (update) = "updateBook($event); editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
      >
      </bookform>
      <p>{{book.summary}}</p>
    </mat-expansion-panel>
  </mat-accordion>
<div>
  <button mat-raised-button 
              color = "primary" 
              (click) = "previousPage()">
        Previous Page
      </button>
  <button class="nextPage" mat-raised-button 
              color = "primary" 
              (click) = "nextPage()">
        Next Page
      </button>
</div>
  
