<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar *ngIf = "!hasError" [src]="image" alt="Photo of weather">
      <mat-card-title *ngIf = "!hasError">Temperatures in {{city}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}°C</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle>{{description}}</mat-card-subtitle>
    </mat-card-header>
   <!-- <img mat-card-image src="{{image}}" alt="Photo of a Shiba Inu"> -->
   <mat-card-content *ngIf = "!hasError">
    Country : {{country}} <p></p>
    The coordinates of {{city}} are : <br>
      Latitude : {{lat}}° <br>
      Longitude : {{lon}}°
      <p></p>
    <a mat-list-item routerLink="/city" routerLinkActive="active">Select City</a>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  -->
  </mat-card>